# Copy this file to env.sh like this:
#  cp env.sh.EXAMPLE env.sh
#
# Then edit env.sh to put in the real OAuth client secret
# 
# To load the variables, use:
#  . env.sh 
#


export SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GITHUB_CLIENT_SECRET="it-goes-here-in-the-quotes"

